<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries><package android:name="com.instagram.android" /></queries>
  <application android:theme="@style/Theme.RepostYar" android:label="ری‌پست‌یار" android:allowBackup="true">
    <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
